<% @user.stories.each do |story| %>
  <h2 id="story-title"><%= story.title %></h2>
  <div id="story-content">
  <p id="story-list"><%= story.content %></p>
  <%= link_to "view", user_story_path({:user_id => @user.id, :id => story.id}) %>
  </div>
<% end %>
