/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#story-title {
  border-width: 4px;
  border-style: solid;
  border-color: #008765;
  border-radius: 0px 20px 0px;
  padding: 10px;
  color: #D0DB00;
  background-color: #737373;
  width: 75%;
  box-shadow: 3px 5px 5px #888888;
}

#story-content {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  padding: 10px;
  background-color: white;
  width: 75%;
  border-radius: 20px 0px 20px 0px;
  box-shadow: 3px 5px 5px #888888;
}

#comment-content {
  border-width: 5px;
  border-style: solid;
  border-color: gray;
  padding: 10px;
  background-color: white;
  width: 50%;
  border-radius: 20px 0px 20px 0px;
  margin-top: 10px;
  box-shadow: 3px 5px 5px #888888;

}

body {
  background-color: #9C9C9C;
}

.menu-item {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-color: #DBFFEC;
  border-color: black;
  color: black;
  box-shadow: 3px 5px 5px #888888;
  font-family: Abel;
}

.notice {
  background-color: #E6C700;
  padding: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #00A150;
  border-radius: 10px;
  opacity: 70%;
}

.textbox {
  box-shadow: 3px 5px 5px #888888;
  border-radius: 20px 0px 35px 0px;
  height: 100px;
  margin-top: 10px;
  width: 50%;
  padding: 5px;
}

@font-face {
  font-family: Abel;
  src:url('Abel-regular.ttf');
  font-weight: normal;
  font-style: normal;
}

