/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#story-title {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 0px 20px 0px;
  padding: 10px;
  color: white;
  background-color: #737373;
  width: 75%;
}

#story-content {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  padding: 10px;
  background-color: white;
  width: 75%;
  border-radius: 20px 0px 20px 0px;
}

body {
  background-color: #9C9C9C;
}
